.brand {
  width: 100%;
  height: 40px;
  padding: 0 10px;
  display: flex;
}

.brand__img {
  width: 80%;
  object-fit: cover;
}

@media (max-width: 1370px) {
  .brand {
    padding: 0px !important;
    display: flex;
  }
  .brand__img {
    width: 100% !important;
    object-fit: cover;
  }
}

@media (max-width: 1290px) {
  .brand__img {
    width: 100% !important;
    object-fit: cover;
  }
}

@media (max-width: 1050px) {
  .brand__img {
    width: 80% !important;
    object-fit: cover;
  }
}

@media (max-width: 400px) {
  .brand {
    padding-left: 0 !important;
  }
  .brand__img {
    width: 80% !important;
    object-fit: cover;
  }
}
