@import url("dashboard.css");

.formcreate {
  width: 50%;
  position: absolute;
  left: 50%;
  top: -35% !important;
  transform: translateX(-50%);
  padding: 40px 70px !important;
  border-radius: 5px;
  box-shadow: 0px 3px 10px #00000029;
}

.form--member {
  width: 50%;
  padding: 0px !important;
  padding-top: 20px !important;
}

.form--white {
  background-color: #fff;
}

.formcreate__heading {
  font-size: 1.3rem;
  font-weight: 600;
  letter-spacing: 1px;
  word-spacing: 5px;
  margin-bottom: 20px;
}

@media (max-width: 1920px) {
  .formcreate {
    width: 50% !important;
  }
  .formcreate__heading {
    font-size: 1.6rem;
  }
}

@media (max-width: 1620px) {
  .formcreate {
    width: 55% !important;
  }
  .formcreate__heading {
    font-size: 1.3rem;
  }
}

@media (max-width: 1050px) {
  .formcreate {
    width: 70% !important;
  }
}

@media (max-width: 800px) {
  .formcreate {
    width: 80% !important;
    padding: 10px;
  }
}

@media (max-width: 700px) {
  .form--member {
    padding: 0px !important;
    padding-top: 20px !important;
  }
}

@media (max-width: 600px) {
  .formcreate {
    padding: 10px;
  }
  .form--member {
    padding: 0px !important;
    padding-top: 20px !important;
  }
}

@media (max-width: 500px) {
  .formcreate {
    width: 95% !important;
    padding: 10px !important;
    top: -10% !important;
  }
  .form--member {
    padding: 0px !important;
    padding-top: 30px !important;
  }
}

@media (max-width: 400px) {
  .input--textarea {
    height: 100px;
    resize: none;
    padding: 10px 15px;
  }
}

@media (max-width: 350px) {
  .formcreate {
    top: -25% !important;
    padding: 0px;
  }
}
