.create {
  width: 50% !important;
  border-radius: 5px;
  overflow: hidden;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  box-shadow: 0px 3px 10px #00000029;
}

.create--topdown {
  top: 30% !important;
}

.createform {
  width: 100%;
  border-radius: 5px;
  padding: 40px 70px !important;
}

.form--bottomunspaced {
  padding: 20px 40px !important;
}

.form--white {
  background-color: #fff;
}

.createform__heading {
  font-size: 1.3rem;
  font-weight: 600;
  letter-spacing: 1px;
  word-spacing: 5px;
  margin-bottom: 20px;
}

.createform__table {
  width: 100% !important;
}

.createform__table__row {
  width: 100%;
  height: 80px;
}

.createform__table__column1 {
  width: 10% !important;
  vertical-align: top;
  padding-top: 25px !important;
  text-align: right;
}

.column1--wide {
  width: 17% !important;
}

.createform__table__column2 {
  width: 90% !important;
  padding: 10px;
}

.createform__inputlabel {
  font-size: 0.9rem;
  font-weight: 500;
  color: #999999;
}

.createform__input {
  width: 100% !important;
  height: 40px;
  border-radius: 5px;
  border: 1px solid rgb(211, 211, 211);
  padding: 5px 15px;
  background-color: #fff;
}

.input--textarea {
  height: 130px !important;
  resize: none;
  padding: 10px 15px;
}

.createlastrow {
  width: 100%;
  height: 110px !important;
  background-color: #f2f2f2;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 50px;
}

.createlastrow--white {
  background-color: #fff;
}

.addmember__button {
  width: 150px;
  height: 35px;
  border-radius: 5px;
  background-color: #383e76;
  border: none;
  color: #fff;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 0.8rem !important;
  letter-spacing: 1.5px;
}

.button__addfile {
  width: 150px;
  height: 35px;
  border-radius: 5px;
  background-color: #c38c56;
  border: none;
  color: #fff;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 0.8rem !important;
  letter-spacing: 1.5px;
}

/* AddMember & Add-admin form css */

.createform__input {
  width: 100% !important;
  height: 40px;
  border-radius: 5px;
  border: 1px solid rgb(211, 211, 211);
  padding: 5px 15px;
}

.createforminput__mobno {
  width: 100%;
  display: flex;
  position: relative;
}

  .input--number {
  width: 100% !important;
  overflow: hidden !important;
  padding-left: 25%;
}

.input--select {
  width: 20% !important;
  border-right: none !important;
  position: absolute;
  left: 0;
  border-radius: 0px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  background-color: #fff;
}

.createform__input__photo {
  width: 100px;
  height: 100px;
  border: 1px solid #cecece;
  border-radius: 5px;
}

.input__photo {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.column2--photo {
  width: 100% !important;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.column2--unspaced {
  display: flex;
  justify-content: initial;
}

.photo--small {
  width: 80px;
  height: 80px;
  border: 1px solid #cecece;
  border-radius: 5px;
  margin-right: 30px;
}

.button__addphoto {
  width: 150px;
  height: 35px;
  border-radius: 5px;
  background-color: #c38c56;
  border: none;
  color: #fff;
  text-transform: uppercase;
  font-weight: 500;
  margin-right: 0 !important;
  letter-spacing: 1.5px;
  font-size: 0.8rem !important;
  margin-left: 10px;
}

.button__remove {
  width: 150px;
  height: 35px;
  border-radius: 5px;
  background-color: #acacac;
  border: none;
  color: #fff;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 1px;
  font-size: 0.8rem !important;
  margin-left: 20px;
}

.btn--upload {
  width: 250px !important;
}

.addmember__button.inactive {
  opacity: 0.4;
  background-color: #888;
}

@media (max-width: 1920px) {
  .create {
    width: 50% !important;
    top: 20% !important;
  }
  .createform__heading {
    font-size: 1.6rem;
  }
}

@media (max-width: 1620px) {
  .create {
    width: 55% !important;
  }
  .create--topdown {
    top: 30% !important;
  }
  .createform__heading {
    font-size: 1.3rem;
  }
}

@media (max-width: 1440px) {
  .create {
    width: 60% !important;
    top: 15% !important;
  }
  .create--topdown {
    top: 25% !important;
  }
}

@media (max-width: 1370px) {
  .create {
    top: 30% !important;
  }
  .create--topdown {
    top: 32% !important;
  }
  .form--bottomunspaced {
    padding: 10px 40px !important;
  }
}

@media (max-width: 1280px) {
  .create {
    width: 70% !important;
    top: 22% !important;
  }
  .create--topdown {
    top: 30% !important;
  }
  .form--bottomunspaced {
    padding: 20px 40px !important;
  }
}

@media (max-width: 1050px) {
  .create {
    width: 70% !important;
    top: 15% !important;
  }
}

@media (max-width: 800px) {
  .create {
    width: 90% !important;
    top: 18% !important;
  }
  .createform {
    padding: 20px !important;
  }
}

@media (max-width: 600px) {
  .createform {
    padding: 10px !important;
  }
  .link--edit {
    margin-left: 0px;
  }
}

@media (max-width: 500px) {
  .create {
    width: 100% !important;
    top: 35% !important;
  }
  .input--textarea {
    padding-top: 15px;
  }
  .createform__input__photo {
    width: 50px !important;
    height: 50px !important;
    margin-right: 5px !important;
  }
  .button__addphoto {
    width: 90px;
    font-size: 0.6rem !important;
    margin-left: 15px !important;
  }
  .button__remove {
    width: 100px !important;
    font-size: 0.6rem !important;
    margin: 0 !important;
    margin-left: 10px !important;
  }
  .form--bottomunspaced {
    padding: 0 10px;
  }
  .column1--wide {
    width: 25% !important;
  }
  .createform__inputlabel {
    font-size: 0.7rem !important;
  }
  .createlastrow {
    padding-right: 20px;
  }
    .input--number {
    padding-left: 35% !important;
  }

  .input--select {
    width: 30% !important;
  }
}

@media (max-width: 400px) {
  .create {
    top: 42% !important;
  }
  /* .form--bottomunspaced
    .createform__table__row:nth-child(2)
    .createform__table__column1 {
    padding-top: 20px !important;
  } */
  .input--textarea {
    height: 100px;
    resize: none;
    padding: 10px 15px;
  }
    .input--number {
    padding-left: 40% !important;
  }

  .input--select {
    width: 35% !important;
  }
  .row--edit {
    padding: 0 30px !important;
  }
}
