.addmember {
  width: 100%;
  height: 630px !important;
  display: flex;
  justify-content: space-between;
  padding: 30px 0;
  margin-bottom: 50px;
}



@media (max-width: 1050px) {
  .addmember {
    width: 100%;
    height: initial !important;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .addmember__formcontainer {
    width: 90% !important;
  }
}

