.header{
    width: 100%;
    height: 70px;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__text{
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 300;
    letter-spacing: 2px !important;
}

.header__text--color{
    color: #fff
}

.header__elements{
    width: 45%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__elements__search{
    width: 50%;
    height: 35px;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
}

.header__elements__search__input{
    width: 100%;
    height: 100%;
    border: none;
    padding: 0 20px;
    color: #fff;
    background-color: rgba(255, 255, 255, 0.356);
}

.header__elements__search__input::placeholder{
    font-size: 0.9rem;
    font-weight: 300;
    color: #fff;
    opacity: 0.7;
}

.header__elements__search__icon{
    position: absolute;
    right: 0;
    padding: 6px;
    font-size: 1.4rem;
    color: #fff;
}

.header__elements__button{
    width: 45%;
    height: 35px;
    border-radius: 5px;
    bordeR: none;
    text-transform: uppercase;
    font-size: 0.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 400;
    letter-spacing: 1.5px;
    background-color: #C38C56;
    color: #fff;
    text-align: center;
}

.header__elements__menuicon{
    color: #fff;
    font-size: 1.3rem;
    display: none;
}

@media(max-width: 1050px){
    .header__elements{
        width: 50%;
    }
    .header__elements__search{
        width: 40%;
    }
    .header__elements__button{
        width: 40%;
    }
    .header__elements__menuicon{
        display: initial !important;
        padding: 12px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        position: fixed;
        z-index: 99;
        right: 5%;
        top: 10%;
        background-color: #383E76
    }
}

@media(max-width: 800px){
    .header__elements{
        width: 70%;
    }
    .header__elements__search__input{
        padding-right: 30px;
    }
}

@media(max-width: 500px){
    .header{
        padding: 0 10px;
    }
    .header__text{
        font-size: 0.8rem;
    }
    .header__elements__search{
        width: 40%;
        height: 30px;
    }
    .header__elements__search__input{
        padding: 0 5px;
        padding-right: 30px;
    }
    .header__elements__search__input::placeholder{
        font-size: 0.7rem;
    }
    .header__elements__search__icon{
        font-size: 0.7rem;
        padding: 10px;
    }
    .header__elements__button{
        font-size: 0.6rem;
        height: 30px;
        width: 50%;
        text-align: center;
    }

}