.dashboard{
    width: 100% !important;
    min-height: 100vh !important;
    display: flex;
    overflow-x: hidden;
}

.dashboard__mainsection{
    width: 85%;
    min-height: 100vh;
}

.dashboard__mainsection.active{
    filter: blur(5px);
    pointer-events: none;
    user-select: none;
}

.dashboard__mainsection__top{
    width: 100%;
    min-height: 45vh;
    position: relative;
}

.dashboard__mainsection__top--color{
    background-color: #383E76;
}

.dashboard__mainsection__bottom{
    width: 100%;
    min-height: 55vh;
    position: relative;
}

.dashboard__mainsection__bottom--color{
    background-color: #f2f2f2;
    padding: 15px;
}

@media(max-width: 1440px){

}

@media(max-width: 1200px){
    .dashboard__mainsection{
        width: 100% !important;
    }
}

@media(max-width: 1050px){
    .top--create{
        min-height: 30vh;
    }
    .bottom--create{
        min-height: 70vh;
    }
}


@media(max-width: 800px){
    .top--create{
        min-height: 35vh;
    }
    .bottom--create{
        min-height: 65vh;
    }
}

@media(max-width: 500px){
    .top--create{
        min-height: 40vh !important;
    }
    .bottom--create{
        min-height: 60vh;
    }
}
            
            