.data {
  width: 100%;
  min-height: 70vh !important;
  background-color: #fff;
  border-radius: 10px;
  margin-top: -20% !important;
  box-shadow: 0px 3px 10px #00000029;
  padding: 15px;
}

@media (max-width: 1920px) {
  .data {
    margin-top: -20% !important;
    min-height: 87vh !important;
  }
}

@media (max-width: 1620px) {
  .data {
    margin-top: -20% !important;
    min-height: 83vh !important;
  }
}

@media (max-width: 1450px) {
  .data {
    margin-top: -25% !important;
    min-height: 83vh !important;
  }
}

@media (max-width: 1370px) {
  .data {
    margin-top: -21% !important;
    min-height: 80vh !important;
  }
}

@media (max-width: 1290px) {
  .data {
    margin-top: -27% !important;
    min-height: 83vh !important;
  }
}

@media (max-width: 1050px) {
  .data {
    margin-top: -42% !important;
    min-height: 370vh !important;
    overflow-x: hidden;
  }
}

@media (max-width: 800px) {
  .data {
    min-height: 420vh !important;
  }
}

@media (max-width: 500px) {
  .data {
    margin-top: -50% !important;
    padding: 10px !important;
    min-height: 570vh !important;
  }
}

@media (max-width: 400px) {
  .data {
    overflow-x: hidden;
    min-height: 650vh !important;
  }
}