.dashboard__leftnavbar{
    width: 15%;
    min-height: 100vh !important;
    z-index: 9;
    padding: 20px 0;
    box-shadow: 0px 3px 10px #00000029;
    transition: 0.5s;
}

.dashboard__leftnavbar.active{
    right: 0 !important;
    transition: 0.5s !important;
    display: initial !important;
}

.dashboard__leftnavbar--color{
    background-color: #f2f2f2;
}

.dashboard__leftnavbar.active{
    right: 0 !important;
    transition: 0.5s !important;
    display: initial !important;
}

@media(max-width: 1200px){
    .dashboard__leftnavbar{
        width: 25%;
        position: absolute;
        right: -50%;
        display: none;
    }

    .navbar__link__close{
        display: initial !important;
    }
}

@media(max-width: 900px){
    .dashboard__leftnavbar{
        width: 40%;
    }
}

@media(max-width: 500px){
    .dashboard__leftnavbar{
        width: 60% !important;
    }
}

@media(max-width: 400px){
    .dashboard__leftnavbar{
        width: 65% !important;
        right: -70% !important;
    }
}