.link__todashboard{
    padding-left: 15px;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    font-size: 0.8rem;
    font-weight: 600;
    color: #383E76;
    margin-top: 30px;
    margin-bottom: 30px;
}

.link__todashboard > img{
    width: 25px;
    margin-right: 10px;
}

