.form__table {
  width: 100%;
}

.form__table__row {
  width: 100%;
  height: 60px;
}

.form__table__column1 {
  width: 12% !important;
  text-align: right;
}

.column1--wide {
  width: 20% !important;
}

.form__table__column2 {
  width: 88% !important;
  padding: 10px;
  padding-left: 20px !important;
}

.column2--small {
  width: 80% !important;
}

.form__inputlabel {
  font-size: 0.9rem;
  font-weight: 500;
  color: #999999;
}

.form__input {
  width: 100%;
  height: 40px;
  border-radius: 5px;
  border: 1px solid rgb(211, 211, 211);
  padding: 5px 15px;
}

.column2--terms {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
}

.column2--terms p {
  font-size: 0.9rem;
  margin-left: 10px;
}

.termslink {
  text-decoration: underline;
  color: #000;
}

.column2--lastrow {
  width: 100% !important;
  padding: 40px 10px 10px 20px !important;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.lastrow--lesspadding {
  justify-content: flex-end;
  padding: 20px 10px 10px 20px !important;
}

.lastrow--lesspadding2 {
  justify-content: space-between;
  padding: 20px 10px 10px 20px !important;
}

.form__link {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 0.9rem;
  letter-spacing: 1px;
}

.form__link--color {
  color: #383e76;
}

.form__submit {
  padding: 10px 60px;
  border: none;
  border-radius: 5px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 2px;
}

.form__submit--color {
  background-color: #383e76;
  color: #fff;
}

.resendotp {
  display: flex;
  align-items: center !important;
}

.otp__timer {
  display: inline-block;
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin-right: 10px;
  border: 3px solid #383e76;
  font-size: 0.8rem;
  font-weight: 600;
}

@media (max-width: 1920px) {
  .form {
    width: 45% !important;
  }
}

@media (max-width: 1620px) {
  .form {
    width: 50% !important;
  }
}

@media (max-width: 1450px) {
  .form {
    width: 60% !important;
  }
}

@media (max-width: 1050px) {
  .form {
    width: 95% !important;
    padding: 30px !important;
  }
}

@media (max-width: 800px) {
  .form {
    width: 95% !important;
  }
}

@media (max-width: 500px) {
  .form {
    width: 95% !important;
    padding: 10px !important;
  }
  .form__table__column1{
    padding-top: 0px;
  }
  .resendotp .form__link{
    margin-top: 17px;
  }
  .form__link {
    font-size: 0.7rem;
    margin-bottom: 20px;
  }
  .form__inputlabel {
    font-size: 0.7rem !important;
  }
  .column2--terms p {
    font-size: 0.7rem;
  }
  .column2--lastrow {
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
    padding: 20px !important;
  }
  .resendotp {
    margin-bottom: 20px;
  }
}

@media (max-width: 400px) {
  .form {
    padding: 10px !important;
  }
  .login__message {
    font-size: 0.8rem;
  }
  .column2--terms p {
    font-size: 0.6rem;
  }
  .form__inputlabel {
    font-size: 0.7rem !important;
  }
  .column2--lastrow {
    padding: 20px !important;
  }
}
