.login {
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
}

.login__top {
  width: 100%;
  height: 45%;
  position: relative;
}

.login__top--color {
  background-color: #383e76;
}

.logo {
  width: 400px;
  position: relative;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%) !important;
  display: flex;
}

.logo > img {
  width: 80%;
  margin: 0 auto;
}

.homelink {
  display: block;
  width: 250px;
  padding-top: 60px;
  margin-left: 130px;
}

.homelink > a > img {
  width: 80%;
}

.login__message {
  position: relative;
  top: 28% !important;
  text-align: center;
  font-weight: 400;
  line-height: 25px;
  font-size: 1.1rem;
}

.login__message--white {
  color: #f2f2f2;
}

.pagetitle {
  margin-top: 30px;
  font-size: 1.5rem;
  text-align: center;
  color: #deac7d;
  font-weight: 400;
  padding: 0;
}

.login__bottom {
  width: 100%;
  height: 55%;
  position: relative;
}

.login__bottom--color {
  background-color: #f2f2f2;
}

.form {
  width: 50%;
  position: absolute;
  top: -15%;
  left: 50%;
  transform: translateX(-50%);
  padding: 30px 50px;
  border-radius: 3px;
  box-shadow: 0px 3px 10px #00000029;
}

.form--white {
  background-color: #fff;
}

.infocontainer {
  width: 45% !important;
  position: absolute;
  top: -22%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 0px 3px 10px #00000029;
  padding: 40px 70px;
  padding-bottom: 70px;
}

.aboutustext {
  font-size: 0.8rem;
}

.footer {
  width: 100%;
  height: 70px;
  position: absolute;
  bottom: 0;
  padding: 0 100px !important;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__link {
  font-size: 0.8rem;
  font-weight: 400;
  text-transform: uppercase;
  margin-right: 15px;
  letter-spacing: 1.6px !important;
}

.footer__link--fade {
  color: #999999;
}

.footer__link--extrafade {
  font-size: 0.8rem;
  color: #999999;
  opacity: 0.6;
}

@media (max-width: 1920px) {
  .login__bottom {
    padding: 0 10px;
  }
  .login__message {
    top: 32% !important;
  }
  .pagetitle {
    margin-top: 50px;
  }
  .infocontainer {
    width: 42%;
  }
  .aboutustext {
    font-size: 1rem !important;
  }
  .footer {
    padding: 0 20px;
  }
}

@media (max-width: 1600px) {
  .login__message {
    top: 28% !important;
  }
  .pagetitle {
    margin-top: 50px;
  }
  .infocontainer {
    width: 45% !important;
  }
  .aboutustext {
    font-size: 0.8rem !important;
  }
}

@media(max-width: 1450px){
  .login__message {
    top: 32% !important;
  }
  .infocontainer {
    width: 45% !important;
  }
  .form{
    width: 60% !important;
  }
  .aboutustext {
    font-size: 0.8rem !important;
  }
}

@media (max-width: 1050px) {
  .homelink{
    width: 100% !important;
    margin-left: 0;
    display: flex;
    justify-content: center;
  }
  .login__message {
    top: 42% !important;
  }
  .pagetitle {
    margin-top: 150px;
  }
  .infocontainer {
    width: 60% !important;
  }
}

@media (max-width: 800px) {
  .login__bottom {
    padding: 0 10px;
  }
  .login__message {
    top: 34% !important;
  }
  .form {
    width: 90% !important;
  }
  .footer {
    padding: 0 20px;
  }
  .pagetitle {
    margin-top: 80px;
  }
  .infocontainer {
    width: 90% !important;
  }
  .aboutustext {
    font-size: 0.7rem;
  }
}

@media (max-width: 500px) {
  .login__message {
    top: 27% !important;
    font-size: 0.9rem;
  }
  .footer {
    padding: 10px !important;
    flex-direction: column;
  }
  .bottom--changeheight {
    height: 60vh;
  }
  .homelink {
    display: block;
    width: 100% !important;
    padding-top: 30px;
    padding-left: 0 !important;
    margin-left: 20px;
  }
  .homelink > a > img {
    width: 80% !important;
  }
  .pagetitle {
    margin-top: 40px;
  }
  .infocontainer {
    padding: 20px;
  }
  .aboutustext {
    font-size: 0.7rem;
  }
}

@media (max-width: 400px) {
  .footer {
    padding: 10px;
    flex-direction: column;
  }
  .bottom--changeheight {
    height: 75vh;
  }
}
