.modal {
  width: 50%;
  border-radius: 5px;
  overflow: hidden;
  background-color: #fff;
  box-shadow: 0px 3px 10px #00000029;
}

.modalform {
  width: 100%;
  border-radius: 5px;
  padding: 40px 70px !important;
}

.form--white {
  background-color: #fff;
}

.modalform__heading {
  font-size: 1.3rem;
  font-weight: 600;
  letter-spacing: 1px;
  word-spacing: 5px;
  margin-bottom: 20px;
}

.modalform__table {
  width: 100% !important;
}

.modalform__table__row {
  width: 100%;
  height: 80px;
}

.modalform__table__column1 {
  width: 10% !important;
  vertical-align: top;
  padding-top: 25px !important;
  text-align: right;
}

.modalform__table__column2 {
  width: 90% !important;
  padding: 10px;
}

.modalform__inputlabel {
  font-size: 0.9rem;
  font-weight: 500;
  color: #999999;
}

.modalform__input {
  width: 100% !important;
  height: 40px;
  border-radius: 5px;
  border: 1px solid rgb(211, 211, 211);
  padding: 5px 15px;
  background-color: #fff;
}

.input--textarea {
  height: 130px !important;
  resize: none;
  padding: 10px 15px;
}

.row--status .modalform__table__column2 {
  width: 100% !important;
  display: flex;
  align-items: center !important;
}

.row--status .modalform__table__column1 {
  padding-top: 12px !important;
}

.modal__checkbox {
  width: 17px;
  height: 17px;
  border-radius: 5px;
  margin-left: 0;
  margin-right: 10px;
}

.checkstatus {
  height: 30px;
  width: 100px;
  display: flex;
  align-items: center;
  margin-right: 40px;
}

.checkstatus.inactive {
  opacity: 0.5;
}

.modallastrow {
  width: 100%;
  height: 110px !important;
  background-color: #f2f2f2;
}

.row--edit {
  padding: 0 70px !important;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.modalform__link {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 0.9rem;
  letter-spacing: 1px;
}

.modalform__link--color {
  color: #383e76;
}

.link--edit {
  margin-left: 90px;
}

.modalform__submit {
  padding: 10px 60px;
  border: none;
  border-radius: 5px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 2px;
}

.modalform__submit--color {
  background-color: #383e76;
  color: #fff;
}

/* Delete Modals CSS */

.deletemodalheader {
  margin-top: 50px;
  margin-left: 50px;
  font-size: 1.5rem;
}

.deletemessage {
  font-size: 0.9rem;
  margin-left: 50px;
}

.red {
  margin-left: 50px;
  color: red;
  display: flex;
  align-items: center;
}

.checkbox--red {
  border: 1px solid red !important;
}

.row--delete {
  padding: 0;
  display: flex;
  align-items: center;
}

.link--delete {
  margin-left: 50px;
  margin-right: 90px;
}

/* AddMember & Add-admin form css */

.modalform__input {
  width: 100% !important;
  height: 40px;
  border-radius: 5px;
  border: 1px solid rgb(211, 211, 211);
  padding: 5px 15px;
}

.modalforminput__mobno {
  width: 100%;
  display: flex;
  position: relative;
}

.modalform__table__row:nth-child(2) .modalform__table__column2 .input--number {
  width: 100% !important;
  overflow: hidden !important;
  padding-left: 35%;
}

.input--select {
  width: 30% !important;
  border-right: none !important;
  position: absolute;
  left: 0;
  border-radius: 0px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  background-color: #fff;
}

.modalform__input__photo {
  width: 100px;
  height: 100px;
  border: 1px solid #cecece;
  border-radius: 5px;
}

.input__photo {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.column2--photo {
  width: 100% !important;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.column2--unspaced {
  display: flex;
  justify-content: initial;
}

.photo--small {
  width: 80px;
  height: 80px;
  border: 1px solid #cecece;
  border-radius: 5px;
  margin-right: 30px;
}

.button__addphoto {
  width: 150px;
  height: 35px;
  border-radius: 5px;
  background-color: #c38c56;
  border: none;
  color: #fff;
  text-transform: uppercase;
  font-weight: 500;
  margin-right: 0 !important;
}

.button__remove {
  width: 150px;
  height: 35px;
  border-radius: 5px;
  background-color: #acacac;
  border: none;
  color: #fff;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 1px;
  margin-left: 20px;
}

@media (max-width: 1920px) {
  .modal {
    width: 50% !important;
  }
  .modalform__heading {
    font-size: 1.6rem;
  }
}

@media (max-width: 1620px) {
  .modal {
    width: 55% !important;
  }
  .modalform__heading {
    font-size: 1.3rem;
  }
}

@media (max-width: 1050px) {
  .modal {
    width: 70% !important;
  }
}

@media (max-width: 800px) {
  .modal {
    width: 80% !important;
  }
  .modalform {
    padding: 10px !important;
  }
}

@media (max-width: 600px) {
  .modalform {
    padding: 10px !important;
  }
  .link--edit {
    margin-left: 0px;
  }
}

@media (max-width: 500px) {
  .modal {
    width: 100% !important;
  }
  .deletemodalheader {
    margin-left: 20px;
  }
  .deletemessage {
    margin-left: 20px;
    margin-right: 10px;
  }

  .red {
    margin-left: 20px;
  }
  .link--delete {
    margin-left: 20px;
    margin-right: 50px;
  }

  .modalform__input__photo {
    width: 50px !important;
    height: 50px !important;
    margin-right: 5px !important;
  }
  .button__addphoto {
    width: 70px;
    font-size: 0.6rem;
    margin-left: 10px !important;
  }
  .button__remove {
    width: 100px !important;
    font-size: 0.6rem;
    margin: 0 !important;
    margin-left: 10px !important;
  }
   .form--bottomunspaced{
    padding: 0 10px;
  }
  .column1--wide{
    width: 25% !important;
  }
  .modalform__inputlabel{
    font-size: 0.7rem !important;
  }
}

@media (max-width: 400px) {
  .input--textarea {
    height: 100px;
    resize: none;
    padding: 10px 15px;
  }
  .row--edit {
    padding: 0 30px !important;
  }
}
