.navbar {
  width: 100%;
  height: 55%;
  margin-top: 100px;
}

.navbar__ul {
  width: 100%;
  height: 100%;
}

.navbar__link {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  padding-left: 20px;
  margin-bottom: 20px;
}

.navbar__link__icon {
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  margin-left: 10px;
}

.navbar__link__a {
  text-transform: uppercase;
  font-size: 0.75rem;
  margin-left: 10px;
  font-weight: 600;
  letter-spacing: 1px;
  opacity: 0.5;
}

.navbar__link__a--color {
  color: #000;
}

.navbar__link__a:hover {
  opacity: 1;
  color: #383e76;
}

.navbar__link.active {
  border-left: 5px solid #383e76;
  padding-left: 15px;
}

.navbar__link.active .navbar__link__a {
  opacity: 1;
  color: #383e76;
}

.navbar__logout {
  margin-top: 50px;
  list-style: none;
}

.navbar__logout > a {
  margin-left: 35px !important;
}

.navbar__link__close {
  font-size: 2rem;
  margin-left: 15px;
  opacity: 0.6;
  display: none;
}

@media (max-width: 1920px) {
  .navbar__link__a {
    font-size: 0.9rem;
  }
}

@media (max-width: 1620px) {
  .navbar__link__a {
    font-size: 0.75rem;
  }
}

@media (max-width: 1450px) {
  .navbar__link__a {
    font-size: 0.8rem;
    line-height: 20px;
  }
  .navbar__link:nth-child(2) .navbar__link__a {
    margin-left: 15px;
  }
}

@media(max-width: 1050px){
  .navbar__link:nth-child(2) .navbar__link__a {
    margin-left: 10px;
  }
}

@media (max-width: 400px) {
  .navbar {
    margin-top: 30px;
  }
}
