.pageinfo {
  text-align: center;
}

.pageinfo__title {
  color: #e2af7d;
  font-weight: 500;
  font-size: 1.5rem;
}

.pageinfo__desc {
  font-weight: 300 !important;
  color: #fff;
  font-size: 1rem !important;
  margin-top: 30px;
  line-height: 25px;
}

.pageinfo--down {
  text-align: center;
  position: relative !important;
  top: 10% !important;
  padding-top: 70px !important;
}

.header__elements__menuiconxx {
  color: #fff;
  font-size: 1.3rem;
  display: none;
}

@media (max-width: 1920px) {
  .pageinfo--down {
    padding-top: 100px;
  }
  .pageinfo--project {
    padding-top: 0px;
  }
  .pageinfo--project .pageinfo__desc {
    margin-top: 10px !important;
  }
}

@media (max-width: 1450px) {
  .pageinfo--down {
    padding-top: 100px !important;
  }
  .pageinfo--project {
    padding-top: 40px !important;
  }
}

@media (max-width: 1370px) {
  .pageinfo--down {
    padding-top: 40px !important;
  }
  .pageinfo__desc{
    margin-top: 15px;
  }
  .pageinfo--project {
    padding-top: 0px !important;
  }
   .pageinfo--project .pageinfo__desc {
    margin-top: 10px !important;
  }
}

@media (max-width: 1280px) {
  .pageinfo--down {
    padding-top: 60px !important;
  }
  .pageinfo__desc {
    margin-top: 30px;
  }
  .pageinfo--project {
    padding-top: 30px !important;
  }
   .pageinfo--project .pageinfo__desc {
    margin-top: 10px !important;
  }
}

@media (max-width: 1200px) {
  .header__elements__menuiconxx {
    display: initial !important;
    padding: 12px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 99;
    right: 5%;
    top: 3%;
    background-color: #383e76;
  }
}

@media (max-width: 1050px) {
  .pageinfo {
    padding-top: 100px !important;
  }
  .pageinfo--project23{
    padding-top: 50px !important;
  }
}

@media (max-width: 800px) {
  .pageinfo {
    padding-top: 50px !important;
  }
}

@media (max-width: 500px) {
  .pageinfo {
    padding-top: 70px !important;
  }
  .pageinfo--project23{
    padding-top: 30px !important;
  }
  .pageinfo--web{
    padding-top: 30px !important;
  }
  .pageinfo--web .pageinfo__desc{
    font-size: 0.7rem !important;
    margin-top: 15px;
  }
}

@media (max-width: 400px) {
  .pageinfo--project23{
    padding-top: 30px !important;
  }
  .pageinfo__desc {
    font-size: 0.8rem !important;
    margin-top: 10px;
  }
  .pageinfo--web{
    padding-top: 10px !important;
  }
  .pageinfo--web .pageinfo__desc{
    font-size: 0.65rem !important;
    margin-top: 15px;
  }
}
