.profile__link{
    color: #000;
}

.profile{
    width: 100%;
    height: 50px;
    padding: 0 20px;
    display: flex;
    margin-top: 25px;
}

.profile__image{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
}

.profile__image > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.profile__details{
    width: calc(100% - 50px);
    height: 100%;
    margin-left: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.profile__details__name{
    font-size: 0.95rem;
    font-weight: 400;
}

.profile__details__role{
    font-size: 0.8rem;
    font-weight: 400;
    margin-top: 5px;
}