.addmember__formcontainer {
  width: 40%;
  padding-top: 20px;
  padding-left: 15px;
  box-shadow: 0px 3px 10px #00000029;
  border-radius: 5px;
  background-color: #fff;
  position: relative;
}

.projectaddform__heading {
  font-size: 1.3rem;
  font-weight: 600 !important;
  letter-spacing: 1px;
  word-spacing: 5px;
  margin-top: 5px;
  margin-bottom: 20px;
}

.addmember__formcontainer .column1--wide {
  width: 30% !important;
}

.addmember__formcontainer
  .createform__table__row:nth-child(2)
  .createform__table__column2
  .input--number {
  padding-left: 35%;
}

.addmember__formcontainer .input--select {
  width: 30% !important;
}

@media (max-width: 1450px) {
  .addmember__formcontainer .form--bottomunspaced {
    padding: 20px !important;
  }
  .addmember__formcontainer .createform__table__column2 {
    padding-right: 0;
  }
  .addmember__formcontainer .createlastrow {
    padding-right: 20px;
  }
}

@media (max-width: 1280px) {
  .addmember__formcontainer .form--bottomunspaced {
    padding-left: 0 !important;
  }
  .addmember__formcontainer .createform__inputlabel {
    font-size: 0.8rem;
  }
}

@media (max-width: 1050px) {
  .addmember__formcontainer {
    width: 80% !important;
  }
}

@media (max-width: 800px) {
  .addmember__formcontainer {
    width: 100% !important;
  }
}

@media (max-width: 500px) {
  .addmember__formcontainer
  .createform__table__row:nth-child(2)
  .createform__table__column2
  .input--number {
  padding-left: 40%;
}

.addmember__formcontainer .input--select {
  width: 35% !important;
}
}

@media (max-width: 400px) {
  .addmember__formcontainer
  .createform__table__row:nth-child(2)
  .createform__table__column2
  .input--number {
  padding-left: 45%;
}

.addmember__formcontainer .input--select {
  width: 40% !important;
}
}
