.project__header{
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
}

.project__header__btn{
    cursor: pointer;
    width: 200px;
    height: 35px;
    background-color: #fff;
    border: none;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    font-size: 0.9rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #383E76;
    text-align: center;
}

.btn--disabled{
    color: #d6d6d6;
}

.header__title{
    font-weight: 400;
    color: #f2f2f2;
    font-size: 1.1rem;
}

.header__elements__menuicon{
    color: #fff;
    font-size: 1.3rem;
    display: none;
}

@media(max-width: 1200px){
    .header__elements__menuicon{
        display: initial !important;
        padding: 12px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        position: fixed;
        z-index: 99;
        right: 5%;
        top: 8%;
        background-color: #383E76
    }
}

@media(max-width: 800px){
    .project__header{
        padding: 0 10px;
    }
}

@media(max-width: 500px){
    .project__header__btn{
        width: 100px;
        height: 35px;
        font-size: 0.7rem;
    }
}

@media(max-width: 400px){
    .project__header__btn{
        width: 100px;
        height: 35px;
        font-size: 0.7rem;
    }
}

@media(max-width: 350px){
    .header__elements__menuicon{
        top: 12%;
    }
}