.projectpagetitle {
  color: #fff;
  font-size: 0.9rem;
  text-transform: uppercase;
  font-weight: 400;
  position: absolute !important;
  top: 7% !important;
  left: 1% !important;
  letter-spacing: 1px;
}

.edit--iconmedium {
  width: 25px;
  height: 25px;
}

.edit--iconmedium > img {
  width: 100%;
}

.actionlink {
  padding: 9px 40px;
  border-radius: 5px;
  background-color: #c38c56;
  border: none;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1.5px;
  font-size: 0.8rem;
  margin-left: 20px;
  position: absolute;
  top: 8% !important;
  right: 1%;
}

.projectpageinfo {
  padding-top: 20px;
  margin-top: 0 !important;
  display: flex;
  justify-content: center !important;
  align-items: center;
  flex-direction: column;
}

.projectpageinfo__title {
  margin-top: 10px;
  height: 40px;
  display: flex;
  align-items: center;
  color: #e2af7d;
  font-weight: 500;
  font-size: 1.3rem;
}

.projectpageinfo__desc {
  font-weight: 300 !important;
  color: #fff;
  font-size: 1rem !important;
  margin-top: 10px;
  line-height: 25px;
  text-align: center;
}

.projectpageinfo__title > a {
  margin-left: 15px;
}

.bottom--projectinfo .data {
  min-height: 90vh !important;
  margin-top: -12% !important;
  margin-bottom: 30px;
}

@media (max-width: 1920px) {
  .projectpagetitle {
    top: 10% !important;
  }
}

@media (max-width: 1620px) {
  .projectpagetitle {
    top: 7% !important;
  }
}

@media (max-width: 1450px) {
  .bottom--projectinfo .data {
    margin-top: -20% !important;
  }
}

@media (max-width: 1370px) {
  .bottom--projectinfo .data {
    margin-top: -12% !important;
  }
}

@media (max-width: 1280px) {
  .bottom--projectinfo .data {
    margin-top: -20% !important;
  }
}

@media (max-width: 1050px) {
  .projectpagetitle {
    left: 5% !important;
    top: 9% !important;
  }
  .projectpageinfo {
    padding-top: 100px;
  }
  .bottom--projectinfo .data {
    margin-top: -30% !important;
  }
}

@media (max-width: 800px) {
  .projectpageinfo {
    position: relative;
    padding-top: 90px;
  }
}

@media (max-width: 500px) {
  .data--projectinfo {
    margin-top: -15% !important;
  }
  .projectpageinfo {
    position: relative;
    padding-top: 70px;
  }
  .projectpageinfo__desc {
    padding: 0 10px;
    font-size: 0.8rem !important;
  }
  .projectactionlink {
    right: 3%;
  }
  .projectpagetitle {
    left: 3%;
    top: 10% !important;
  }
  .actionlink {
    padding: 9px 30px;
    font-size: 0.6rem;
    margin-left: 20px;
  }
}

@media (max-width: 400px) {
  .actionlink {
    padding: 9px 20px;
    font-size: 0.6rem;
    margin-left: 20px;
  }
  .projectpageinfo__desc {
    padding: 0 10px;
    font-size: 0.7rem !important;
  }
}
