.projectname{
    margin-left: 40px;
    margin-bottom: 20px;
    font-weight: 400;
}

.navbarprojectinfo{
  width: 100%;
  height: 55%;
  margin-top: 100px;
}

.navbarprojectinfo__ul {
  width: 100%;
  height: 100%;
}

.navbarprojectinfo__link {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  padding-left: 20px;
  margin-bottom: 20px;
}

.navbarprojectinfo__link__icon{
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    border-radius: 50%;
    background-color: rgb(199, 199, 199);
    color: #fff;
}

.navbarprojectinfo__link__a{
  text-transform: uppercase;
  font-size: 0.75rem;
  margin-left: 10px;
  font-weight: 600;
  letter-spacing: 1px;
  opacity: 0.5;
}

.navbarprojectinfo__link__a--color {
  color: #000;
}

.navbarprojectinfo__link__a:hover {
  opacity: 1;
  color: #383e76;
}

.navbarprojectinfo__link.active{
  border-left: 5px solid #383e76;
  padding-left: 15px;
}

.navbarprojectinfo__link.active .navbarprojectinfo__link__a {
  opacity: 1;
  color: #383e76;
}

.navbarprojectinfo__link__icon p{
    font-size: 0.9rem;
}

.navbarprojectinfo__link.active .navbarprojectinfo__link__icon{
    opacity: 1;
    background-color: #383E76;
}

@media(max-width: 1450px){
  .navbarprojectinfo__link:nth-child(3) .navbarprojectinfo__link__a{
    margin-left: 10px;
    line-height: 20px !important;
  }
}

@media(max-width: 1280px){
  .navbarprojectinfo__link:nth-child(3) .navbarprojectinfo__link__a{
    margin-left: 15px;
    line-height: 20px !important;
  }
}
