.datacontainersmall {
  width: 55%;
  height: 100%;
  background-color: #fff;
  box-shadow: 0px 3px 10px #00000029;
  padding: 20px 10px;
  border-radius: 5px;
  position: relative;
}

.datacontainersmall__header {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.datacontainersmall__header__title {
  font-size: 1.3rem;
  font-weight: 600;
  letter-spacing: 1px;
  word-spacing: 5px;
}

.datacontainersmall__header__search {
  width: 30%;
  height: 35px;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
}

.search__input {
  width: 100%;
  height: 100%;
  border: none;
  padding: 0 20px;
  color: #666;
  background-color: rgb(241, 241, 241);
}

.search__icon {
  position: absolute;
  right: 0;
  padding: 6px;
  font-size: 1.4rem;
  color: #666;
}

@media (max-width: 1050px) {
  .datacontainersmall {
    width: 100%;
    min-height: 200vh;
    overflow-x: hidden;
    margin-top: 30px !important;
  }
}

@media (max-width: 450px) {
  .datacontainersmall__header__title {
    font-size: 0.9rem;
  }
}

@media (max-width: 400px) {
  .datacontainersmall {
    min-height: 220vh;
  }
}
