.projectdatacontainer {
  width: 100%;
  height: 350px !important;
  margin-top: -12% !important;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.1);
  padding: 10px;
  padding-top: 50px;
}

.data__heading {
  font-size: 1.5rem;
  font-weight: 600;
  letter-spacing: 1px;
  word-spacing: 5px;
}

@media(max-width: 1450px){
  .projectdatacontainer{
    margin-top: -15% !important;
  }
}

@media(max-width: 1370px){
  .projectdatacontainer{
    margin-top: -10% !important;
  }
}

@media(max-width: 1280px){
  .projectdatacontainer{
    margin-top: -14% !important;
  }
}

@media (max-width: 1050px) {
  .projectdatacontainer {
    padding: 10px;
    height: 150vh !important;
    overflow-x: hidden;
  }
}

@media (max-width: 600px) {
  .projectdatacontainer {
    margin-top: -20% !important;
    padding-top: 10px;
  }
}

@media (max-width: 400px) {
  .projectdatacontainer {
    height: 160vh;
    overflow-x: hidden;
  }
}

@media (max-width: 350px) {
  .projectdatacontainer {
    height: 180vh;
    overflow-x: hidden;
  }
}
