.login--extends {
  min-height: 100vh;
}

.login__top--extends {
  min-height: 45vh;
}

.login__bottom--extends {
  min-height: 55vh;
}


.homelink--userdashboard {
  position: absolute !important;
  padding: 0px;
  margin-top: 20px;
  margin-left: 40px !important;
}

.logout {
  position: absolute;
  right: 5%;
  top: 10%;
  padding: 10px 80px;
  background-color: transparent;
  border-radius: 5px;
  text-transform: uppercase;
  border: 1px solid #c38c56;
  color: #c38c56;
}

.userdatacontainer {
  width: 90%;
  min-height: 90vh !important;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 3px 10px #00000029;
  padding: 15px;
  position: absolute;
  margin-top: -10% !important;
  left: 5%;
  margin-bottom: 30px;
}

.pageinfo--userdashboard {
  padding-top: 30px;
}

@media (max-width: 1440px) {
  .homelink--userdashboard {
    margin-top: 55px;
  }
  .pageinfo--userdashboard {
    padding-top: 60px !important;
  }
  .logout {
    top: 15% !important;
  }
}

@media (max-width: 1370px) {
  .homelink--userdashboard {
    margin-top: 30px;
  }
  .pageinfo--userdashboard {
    padding-top: 30px !important;
  }
  .logout {
    top: 12% !important;
  }
}

@media (max-width: 1280px) {
  .homelink--userdashboard {
    margin-top: 55px;
    margin-left: 50px;
  }
  .pageinfo--userdashboard {
    padding-top: 60px !important;
  }
  .logout {
    top: 18% !important;
  }
}

@media (max-width: 1050px) {
  .homelink--userdashboard {
    width: 250px !important;
    margin-top: 55px !important;
    margin-left: 10px !important;
  }
  .logout {
    top: 10% !important;
    padding: 10px 70px;
  }
  .pageinfo--userdashboard {
    padding-top: 80px !important;
  }
  .userdatacontainer {
    min-height: 100vh !important;
    margin-top: -30% !important;
    overflow-x: hidden;
    padding: 10px !important;
  }
}

@media (max-width: 800px) {
  .logout {
    top: 14% !important;
    padding: 10px 70px;
  }
  .userdatacontainer {
    min-height: 100vh !important;
    margin-top: -24% !important;
  }
}

@media (max-width: 500px) {
  .homelink--userdashboard {
    width: 200px !important;
    margin-top: 40px !important;
    margin-left: 10px !important;
  }
  .pageinfo--userdashboard {
    padding-top: 120px !important;
  }
  .pageinfo--userdashboard .pageinfo__desc {
    margin-top: 15px;
    font-size: 0.8rem !important;
  }
  .logout {
    right: 2%;
    top: 12%;
    padding: 6px 40px;
  }
  .userdatacontainer {
    min-height: 130vh !important;
    margin-top: -20% !important;
  }
}

@media (max-width: 400px) {
  .logout {
    top: 16% !important;
    padding: 6px 30px;
    font-size: 0.8rem;
  }
  .pageinfo--userdashboard {
    padding-top: 110px !important;
  }
  .userdatacontainer {
    min-height: 130vh !important;
    margin-top: -18% !important;
  }
}
