.viewform {
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
}

.viewform__top {
  width: 100%;
  height: 45%;
  background-color: #fff;
  padding: 50px 180px;
  padding-bottom: 20px;
  position: relative;
}

.viewform__top__backarrow {
  position: absolute !important;
  left: 3%;
}

.viewform__top__heading {
  font-size: 1.5rem;
  font-weight: 600;
  letter-spacing: 1px;
  word-spacing: 5px;
}

.viewform__top__formdetails {
  width: 100%;
  height: 80%;
  padding-top: 30px;
  display: flex;
}

.formdetails__member {
  width: 50%;
  height: 100%;
}

.formdetails__subject {
  width: 25%;
  height: 100%;
}

.formdetails__infodiv {
  width: 100%;
  height: 77%;
  display: flex;
}

.info__right {
  width: 40%;
  height: 100%;
}

.info__left {
  width: 60%;
  height: 100%;
}

.formdetails__form {
  width: 25%;
  height: 100%;
}

.formdetails__heading {
  font-size: 0.7rem;
  color: #999999;
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 1px;
  margin-bottom: 30px;
}

.formdetails__info {
  font-size: 0.8rem;
  font-weight: 300;
  color: #000;
  margin-bottom: 20px;
}

.info--light {
  font-size: 0.8rem;
  margin-right: 15px;
  color: #999999;
}

.viewform__bottom {
  width: 100%;
  height: 150%;
  background-color: #efefef;
}

@media (max-width: 1920px) {
  .viewform__top__heading {
    font-size: 1.7rem;
  }
  .viewform__top__formdetails {
    padding-top: 50px;
  }
  .formdetails__heading {
    font-size: 0.9rem;
  }
  .formdetails__info {
    font-size: 0.9rem;
  }
}

@media(max-width: 1440px){
  .viewform__top{
    padding-right: 100px;
  }
  .formdetails__member{
    width: 40% !important;
  }
}

@media(max-width: 1370px){
  .viewform__top{
    height: 50% !important;
    padding-right: 50px !important;
  }
  .formdetails__member{
    width: 30% !important;
  }
  .formdetails__subject, .formdetails__form{
    width: 35% !important;
  }
}

@media (max-width: 1050px) {
  .viewform__top__formdetails {
    display: flex;
    flex-direction: column;
  }
  .formdetails__heading {
    margin-bottom: 20px;
  }
  .formdetails__member {
    width: 100% !important;
    margin-bottom: 30px;
  }
  .formdetails__subject {
    width: 100% !important;
    margin-bottom: 30px;
  }
  .formdetails__form {
    width: 100% !important;
  }
  .info__right {
    width: 30% !important;
  }
  .info__left {
    width: 70%;
  }
}

@media (max-width: 800px) {
  .viewform__top {
    width: 100%;
    height: 60% !important;
  }
}

@media (max-width: 600px) {
  .viewform__top {
    width: 100%;
    height: 100% !important;
    padding: 50px 10px;
    padding-bottom: 20px;
  }
  .info__right {
    width: 50% !important;
  }
  .info__left {
    width: 50%;
  }
  .viewform__top__backarrow {
    top: 1%;
  }
  .viewform__top__heading {
    margin-top: 20px;
  }
}

@media (max-width: 400px) {
  .viewform__top__heading {
    font-size: 1rem;
  }
  .info__right {
    width: 40%;
  }
}
