*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  font-family: 'Lato', sans-serif;
}

html,body{
  width: 100% !important;
  height: 100% !important;
  overflow-x: hidden;
  background-color: #f2f2f2;
}
